/* phpNT CSS file
/*
Design by Metamorphosis Design
http://www.metamorphozis.com
Released for free under a Creative Commons Attribution 2.5 License
*/

*{
    margin: 0px;
    padding: 0px;
}

img{
    padding: 0px;
    border: none;
}

a{
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #515151;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 17px;
    color: #000000;
    background: url(images/bg.jpg);
    width: 800px;
    margin: 0 auto;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #000000;
    text-align: center;
    font-weight: normal;
    line-height: 60px;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #000000;
    font-weight: normal;
    line-height: 24px;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: normal;
    line-height: 60px;
    text-align: center;
}

.clear{
    clear: both;
}

/*header*/

#header{
    padding: 0px 0px 30px 0px;
}

/*logo*/

#logo{
    height: 55px;
    padding-top: 18px;
}

#logo a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

#logo h1 a{
    font-size: 14px;
}

/* navigation */


#menu{
    height: 49px;
}

#menu ul{
    list-style: none;
    padding: 0px;
}

#menu ul li{
    display: inline;
}

#menu ul li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: normal;
    text-decoration: none;
    display: block;
    float: left;
    width: 132px;
    height: 49px;
    text-align: center;
    line-height: 49px;
    margin: 0px 10px 0px 0px;
    background: url(images/menu_bg.jpg) 0px 0px;
}

#menu ul li a:hover{
    background: url(images/menu_bg.jpg) 0px 49px;
    color: #000000;
}

#menu ul li .select{
    background: url(images/menu_bg.jpg) 0px 49px;
    color: #000000;
}


/*Content*/

#content_top{
    background: url(images/content_top.png);
    height: 10px;
}

#content{
    background: url(images/content_bg.png);
}

#content_bot{
    background: url(images/content_bot.png);
    height: 9px;
}

/*prew box*/

#prew_box{
    padding: 0px 10px 10px 10px;
}

#prew_top{
    background: url(images/prew_top.png) no-repeat top left;
    height: 10px;
}

#prew_bg{
    background: url(images/prew_bg.png);
    width: 760px;
    padding: 0px 10px 0px 10px;
    text-align: center;
}

.mini_pic_box{
    padding: 10px 0px 0px 0px;
}

#prew_box ul{
    list-style: none;
    padding: 0px;
}

#prew_box ul li{
    display: inline-block;
    padding: 0px;
    margin: 0px 8px 0px 0px;
    border: 1px solid #000000;
    width: 100px;
    height: 41px;
}

#prew_box ul li a{
    float: left;
    display: block;
    width: 100px;
    height: 41px;
    background: url(images/mini_pic_select.png);
}

#prew_box ul li a:hover{
    background: none;
}

#prew_box ul li .select{
    background: none;
}

#prew_bot{
    background: url(images/prew_bot.png) no-repeat top left;
    height: 10px;
}

/*White box*/

.white_box{
    padding: 0px 10px 0px 10px;
}

.white_box_top{
    background: url(images/white_box_top.png) no-repeat top left;
    height: 10px;
}

.white_box_bg{
    background: #ffffff;
    width: 740px;
    padding: 20px;
}

.white_box_bot{
    background: url(images/white_box_bot.png) no-repeat top left;
    height: 10px;
}

/*3 column box*/

.col1, .col2, .col3{
    float: left;
    width: 235px;
}

.col2{
    margin: 0px 17px 0px 17px;
}

.img_box{
    background: url(images/img_shadow.jpg) no-repeat bottom;
    padding: 0px 0px 7px 0px;
}

.bor_bot{
    border-bottom: 1px solid #828282;
    padding-bottom: 30px;
}

.list{
    background: url(images/icon1.jpg) no-repeat center left;
    height: 32px;
    line-height: 32px;
    padding: 0px 0px 0px 40px;
    margin: 0px 0px 10px 0px;
}

.clip{
    background: url(images/icon2.jpg) no-repeat center left;
    height: 32px;
    line-height: 32px;
    padding: 0px 0px 0px 40px;
    margin: 0px 0px 10px 0px;
}

.user{
    background: url(images/icon3.jpg) no-repeat center left;
    height: 32px;
    line-height: 32px;
    padding: 0px 0px 0px 40px;
    margin: 0px 0px 10px 0px;
}



/*footer*/

#footer{
    position: absolute;
    left: 0;
    width: 100%;
    background: url(images/footer.png);
    text-align: center;
    padding: 20px 0px 20px 0px;
}

#footer p, #footer a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: #ffffff;
}

.foot_col1, .foot_col2, .foot_col3, .foot_col4{
    float: left;
    padding-right: 20px;
}

#foot_column4{
    padding: 0px 20px 30px 20px;
}

#foot_column4 a{
    font-weight: normal;
}

#foot_column4 a:hover, #foot_column4 .ls li a:hover{
    color: #ffffff;
}

.foot_col1{
    width: 152px;
}

.foot_col2{
    width: 117px;
}

.foot_col2 p{
    padding-bottom: 4px;
}

.foot_col3{
    width: 202px;
}

.foot_col3 p{
    text-decoration: underline;
}

.foot_col4{
    width: 197px;
}

.foot_col4 p{
    padding-bottom: 6px;
}

.ls{
    list-style: none;
    padding-left: 0px;
}

.ls li{
    margin-bottom: 4px;
}

#foot_column4 .ls li a{
    background: url(images/ls.gif) no-repeat 0px 6px;
    display: block;
    padding-left: 15px;
    padding-bottom: 4px;
    color: #000000;
    font-weight: normal;
}

.link1{
    background: url(images/link1.png) no-repeat 0px 2px;
    padding-left: 30px;
    min-height: 18px;
    padding-bottom: 10px;
}

.link2{
    background: url(images/link2.png) no-repeat 0px 2px;
    padding-left: 30px;
    min-height: 18px;
    padding-bottom: 10px;
}

.link3{
    background: url(images/link3.png) no-repeat 0px 2px;
    padding-left: 30px;
    min-height: 18px;
    padding-bottom: 10px;
}

.link4{
    background: url(images/link4.png) no-repeat 0px 2px;
    padding-left: 30px;
    min-height: 18px;
    padding-bottom: 10px;
}


/*=================================*/
/* Nivo Slider Demo
/* November 2010
/* By: Gilbert Pellegrom
/* http://dev7studios.com
/*=================================*/


#slider-wrapper {
    background:url(images/top.jpg) no-repeat;
    width: 760px;
    height: 265px;
    margin:0 auto;
}

#slider {
    position:relative;
    width: 760px;
    height: 265px;
    background:url(images/loading.gif) no-repeat 50% 50%;
}
#slider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
#slider a {
    border:0;
    display:block;
}

.nivo-controlNav {
    position:absolute;
    left:260px;
    bottom:-42px;
    display: none;
}
.nivo-controlNav a {
    display:block;
    width:22px;
    height:22px;
    background:url(images/bullets.png) no-repeat;
    text-indent:-9999px;
    border:0;
    margin-right:3px;
    float:left;
}
.nivo-controlNav a.active {
    background-position:0 -22px;
}

.nivo-directionNav a {
    display:block;
    width:30px;
    height:30px;
    background:url(images/arrows.png) no-repeat;
    text-indent:-9999px;
    border:0;
}
a.nivo-nextNav {
    background-position:-30px 0;
    right:15px;
}
a.nivo-prevNav {
    left:15px;
}

.nivo-caption {
    text-shadow:none;
    font-family: Helvetica, Arial, sans-serif;
}
.nivo-caption a {
    color:#efe9d1;
    text-decoration:underline;
}